
<header>
    <div id="header" class="exp">
        <div class='input-container'>
            <input
             id='search'
             placeholder="Enter the name of the musician"
             type="search"
             [(ngModel)]="query"
             (ngModelChange)="searchCovers()"
            >
        </div>
        <div id="rest-of-header">
            <h1>Music search</h1>
            <p>Powered <br> by</p>
            <a href="https://last.fm"
             target="_blank">
             <img id="image"
             src="../../assets/images/lastfm2.jpg"
             alt="">
            </a>
        </div>
    </div>
</header>