
#header.col{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #4372aa;
    border-bottom: 2px solid rgb(255, 255, 255);
    }
        #header.col input{
            margin-left: 50px;
        }

#header.exp{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 410px;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    }

#header p{
    margin-right: 20px; 
}
a{
    margin-right: 80px;
}
#rest-of-header{
    display: flex;
    align-items: center;
}

#rest-of-header img {
    border: 1px solid whitesmoke;
}

#rest-of-header h1 {
    text-shadow: #a1a1a1 3px 3px 3px;
}

.input-container {
    margin-right: 80px;
    width:40%;
}
input{
    border: 3px thin;
    color: rgb(83, 83, 83);
    border-radius: 5px;
    }
    input::placeholder{
        color: #9e9e9e;
        font-size: 18px;
    }
    input:focus{
        outline: none;
    }
h1{
    margin-right: 30px;
    color: rgb(255, 255, 255);   
}

h3{
    color: white;
}

p{
    color: white;
}

#image{
   position: relative;
   width: 150px;
   height: 75px;
}

#search{
    font-size: 18px;
    padding: 5px;
    width: 100%;
}

#main{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    /* display: flex;*/
    justify-content: center;
    align-items: center;
}

.poster {
    /* cursor: pointer; */
    border: thin solid rgb(36, 36, 36);
    margin: 13px;
    width: 270px;
    height: 300px;
    border-radius: 10px;
}
.album-covers {
    display: flex;
    justify-content: center;
}

.non-flex {
    flex: 0 0 100%;
}

.btn {
    margin: 20px;
    height: 50px;
    width: 120px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

#previous {
    background-color: #00C9FF;
    color: #fff;
}

#next {
    background-color: #1BCAFA;
    color: #fff;
}

.no-result {
    color: aliceblue;
    font-size: 22pt;
    margin-top: 200px;
    display: inline-block;
    width: 100%;
    height: 100%;
}

